header {
  display: grid; /* much easier than display: flex */
  grid-template-columns: 5% auto 25%;
  grid-column-gap: 2%;
  padding: 1%;
  border-bottom: 1px solid #fff;
  align-items: center;
  background-color: #333;
}

.row-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.row-list li {
  border-bottom: 1px solid #fff;
  padding: 1rem;
  background-color: #000000aa;
}
.row-list li:last-child {
  border-bottom: none;
}
