@import './normalize.css';

body {
  background: rgb(89,89,89);
  /* background: linear-gradient(0deg, rgb(222, 165, 76) 0%, rgb(70, 115, 206) 35%); */
  min-height: 100vh;
  color: #fff;
  background-image: url(https://picsum.photos/736/414?blur=2)
}